<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Your Ride</title>
    <link rel="stylesheet" href="/assets/style/booking.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="navbar" id="navbar">
      <div class="burger" id="burger">
        <div class="line1"></div>
        <div class="line1"></div>
        <div class="line1"></div>
      </div>
      <h1>rentaride</h1>
      <div class="user" id="user">
        <i class="fa fa-user" aria-hidden="true"></i>
        <p> <%= name %> </p>
      </div>
    </div>
    <div class="container" id="container">
      <div id="aside" class="aside">
        <p>
          <i class="fa fa-check-circle" aria-hidden="true"></i>YOUR PICK UP SPOT
        </p>
        <div class="pick-up-spot" id="pick-up-spot">
          <div>
            Your Starting Point is > <br />
            <small id="start-name"></small>
          </div>
          <div>
            Your Return Point is > <br />
            <small id="return-name"></small>
          </div>
        </div>
        <div class="time" id="time">
          <div class="pick-up-time" id="pick-up-time">
            <p>
              <i class="fa fa-check-circle" aria-hidden="true"></i>PICK UP TIME
            </p>
            <div class="pick-up-box">
              <h1 class="pick-up-date" id="pick-up-date"></h1>
            </div>
          </div>
          <div class="drop-off-time" id="drop-off-time">
            <p>
              <i class="fa fa-check-circle" aria-hidden="true"></i>DROP OFF TIME
            </p>
            <div class="drop-off-box">
              <h1 class="drop-off-date" id="drop-off-date"></h1>
            </div>
          </div>
        </div>
        <p>
          <i class="fa fa-check-circle" aria-hidden="true"></i> DISTANCE PACKAGE
        </p>
        <div class="kilometers" id="kilometers">
          <div class="kilo-1 kilo orange" id="kilo-1">50 miles</div>
          <div class="kilo-2 kilo" id="kilo-2">100 miles</div>
          <div class="kilo-3 kilo" id="kilo-3">150 miles</div>
          <div class="kilo-4 kilo" id="kilo-4">200 miles</div>
          <div class="kilo-5 kilo" id="kilo-5">250 miles</div>
          <div class="kilo-6 kilo" id="kilo-6">300 miles</div>
          <div class="kilo-7 kilo" id="kilo-7">350 miles</div>
          <div class="kilo-8 kilo" id="kilo-8">400 miles</div>
          <div class="kilo-9 kilo" id="kilo-9">450 miles</div>
        </div>
      </div>

      <!------- Main Container ----------------------------------->

      <div class="main-container" id="main-container">
        <div class="empty"></div>
        <form class="book book-1" id="book-1" method="get" action="/order">
          <img src="https://i.postimg.cc/fLWncbQZ/find-1.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Manual
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 19
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <form class="book book-2" id="book-2" method="get" action="/order">
          <img src="https://i.postimg.cc/zBq5xjWs/find-2.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Automatic
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 15
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <form class="book book-3" id="book-3" method="get" action="/order">
          <img src="https://i.postimg.cc/D0ZhTwx5/find-3.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Manual
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 14
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <div class="empty"></div>
        <form class="book book-4" id="book-4" method="get" action="/order">
          <img src="https://i.postimg.cc/nzTxgDGC/find-4.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>2
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Manual
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 12
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <form class="book book-5" id="book-5" method="get" action="/order">
          <img src="https://i.postimg.cc/yY2HMBcX/find-5.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Manual
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 19
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <form class="book book-6" id="book-6" method="get" action="/order">
          <img src="https://i.postimg.cc/Qt6L0rj7/find-6.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Manual
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 18
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <div class="empty"></div>
        <form class="book book-7" id="book-7" method="get" action="/order">
          <img src="https://i.postimg.cc/Hnhgs1Km/find-7.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Automatic
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 16
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <form class="book book-8" id="book-8" method="get" action="/order">
          <img src="https://i.postimg.cc/NfKtCL9j/find-8.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Manual
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 17
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <form class="book book-9" id="book-9" method="get" action="/order">
          <img src="https://i.postimg.cc/8zWSD3b8/find-8.png" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Automatic
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 13
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <div class="empty"></div>
        <form class="book book-10" id="book-10" method="get" action="/order">
          <img src="https://i.postimg.cc/9X8VByfk/find-8.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Manual
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <form class="book book-11" id="book-11" method="get" action="/order">
          <img src="https://i.postimg.cc/5tVMt3PX/find-9.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Manual
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 17
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <form class="book book-12" id="book-12" method="get" action="/order">
          <img src="https://i.postimg.cc/Qt6L0rj7/find-6.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Automatic
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 14
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <form class="book book-13" id="book-13" method="get" action="/order">
          <img src="https://i.postimg.cc/fLWncbQZ/find-1.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Manual
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 18
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <form class="book book-14" id="book-14" method="get" action="/order">
          <img src="https://i.postimg.cc/zBq5xjWs/find-2.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Manual
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 22
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <form class="book book-15" id="book-15" method="get" action="/order">
          <img src="https://i.postimg.cc/D0ZhTwx5/find-3.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>4
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Manual
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 15
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
        <form class="book book-16" id="book-16" method="get" action="/order">
          <img src="https://i.postimg.cc/nzTxgDGC/find-4.jpg" alt="" />
          <div class="car-info" id="car-info">
            <h3 class="car-name" id="car-name">Car Name</h3>
            <div class="smalls" id="small">
              <small class="seater"
                ><i class="fa fa-th-large" aria-hidden="true"></i>2
                Seater</small
              >
              <small class="gear"
                ><i class="fa fa-cogs" aria-hidden="true"></i>Manual
              </small>
              <small class="mileage"
                ><i class="fa fa-flask" aria-hidden="true"></i>Mileage 15
              </small>
            </div>
            <div class="money" id="money">
              <h3>
                Rs
                <span class="price">3000</span>
                /-
              </h3>
              <button type="submit" class="book-now">PROCEED TO RENT</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="/assets/javascript/booking.js"></script>
  </body>
</html>
