<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    body {
      background-color: #d3d3d3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    .container {
      min-height: 90vh;
      min-width: 80%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      background-color: white;
      border-radius: 50px;
    }
    .main-container {
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      padding: 5rem;
    }
    .icon-div {
      font-size: 1rem;
      color: sandybrown;
      border: 15px solid sandybrown;
      padding: 2rem;
      border-radius: 50%;
    }
    a {
      padding: 8px 12px;
      background-color: sandybrown;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      margin: 10px auto;
    }
    a:hover {
      color: black;
      background-color: #fff;
      border: 1px solid black;
    }
    div,
    h1,
    p,
    a {
      margin: 10px 0;
    }
  </style>
  <body>
    <div class="container">
      <div class="main-container">
        <div class="icon-div">
          <i class="fa fa-thumbs-up fa-4x" aria-hidden="true"></i>
        </div>
        <h1>Your response has been made succesully.</h1>
        <p>We'll reply you very soon.</p>
        <p>Hang in there</p>
        <a href="/" class="home">BACK TO HOME</a>
      </div>
    </div>
  </body>
</html>
